<html xmlns:th="https://www.thymeleaf.com/">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Centro de Actividades Fisicas y Deportivas</title>
        <meta name="description" content="Free Bootstrap Theme by uicookies.com">
        <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="css/styles-merged.css">
        <link rel="stylesheet" href="css/style.min.css">
        <link rel="stylesheet" href="css/custom.css">

        <link rel="icon" type="image/png" href="/img/icono.png" />
    </head>
    <body>



        <div class="probootstrap-page-wrapper">
            <!-- Fixed navbar -->

            <div class="probootstrap-header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-9 probootstrap-top-quick-contact-info">
                            <span><i class="icon-location2"></i>Pelegrini 500, Puerto Tirol</span>
                            <span><i class="icon-phone2"></i>+54 362-4546363</span>
                            <span><i class="icon-mail"></i>senseiramirezryuninpo@hotmail.com</span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 probootstrap-top-social">
                            <ul>
                                <li><a href="https://twitter.com/alejandro238209"><i class="icon-twitter"></i></a></li>
                                <li><a href="https://web.facebook.com/CentroDeActividadFisicaDeportiva/"><i class="icon-facebook2"></i></a></li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-default probootstrap-navbar">
                <div class="container">
                    <div class="navbar-header">
                        <div class="btn-more js-btn-more visible-xs">
                            <a href="#"><i class="icon-dots-three-vertical "></i></a>
                        </div>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" th:href="@{home}" title="CAFD">CAFD</a>
                    </div>

                    <div id="navbar-collapse" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a th:href="@{home}">Home</a></li>
                            <li><a th:href="@{ClasesHome}">Clases</a></li>

                            <li><a th:href="@{EventosHome}">Eventos</a></li>

                            <li><a th:href="@{galeria}">Galeria</a></li>



                    </div>

                </div>
            </nav>



            <section class="probootstrap-section probootstrap-section-colored">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-left section-heading probootstrap-animate">
                            <h2>Centro de Actividades Fisicas y Deportivas</h2>
                        </div>
                    </div>
                </div>
            </section>

            <section class="probootstrap-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="probootstrap-flex-block">
                                <div class="probootstrap-text probootstrap-animate">
                                    <h3>Acerca de CAFD</h3>
                                    <p>Es una escuela creada con el mas moderno método pedagógico-didáctico destinada a las personas ,que necesitan de actividad física para una mejor calidad de vida.</p>

                                </div>
                                <video width="650" height="400" controls>
                                    <source src="/img/video de presentacion.mp4" type="video/mp4">
                                    Your browser does not support the <code>video</code> tag.
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <section class="flexslider">
            <ul class="slides">
                <li style="background-image: url(img/slider_1.jpg)" class="overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="probootstrap-slider-text text-center">
                                    <h1 class="probootstrap-heading probootstrap-animate">Tu futuro brillante es nuestra misión</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(img/slider_2.jpg)" class="overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="probootstrap-slider-text text-center">
                                    <h1 class="probootstrap-heading probootstrap-animate">La actividad fisica es vida</h1>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li style="background-image: url(img/slider_3.jpg)" class="overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="probootstrap-slider-text text-center">
                                    <h1 class="probootstrap-heading probootstrap-animate">Ayudando a cada uno de nuestros alumnos a alcanzar el potencial</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>



        <section class="probootstrap-section probootstrap-section-colored probootstrap-bg probootstrap-custom-heading probootstrap-tab-section" style="background-image: url(img/slider_2.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center section-heading probootstrap-animate">
                        <h2 class="mb0">Informaciones</h2>
                    </div>
                </div>
            </div>
            <div class="probootstrap-tab-style-1">
                <ul class="nav nav-tabs probootstrap-center probootstrap-tabs no-border">
                    <li class="active"><a data-toggle="tab" href="#featured-news">Noticias</a></li>
                    <li><a data-toggle="tab" href="#upcoming-events">Eventos</a></li>
                </ul>
            </div>
        </section>

        <section class="probootstrap-section probootstrap-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="tab-content">

                            <div id="featured-news" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="owl-carousel" id="owl1">
                                            <div th:each="n: ${noticias}" class="item">
                                                <a  class="probootstrap-featured-news-box">
                                                    <figure class="probootstrap-media"><img th:src="@{'/uploadsN/' + ${n.foto}}"
                                                                                            th:alt="${n.foto}" class="img-responsive"></figure>
                                                    <div class="probootstrap-text">
                                                        <h3 th:text="${n.nombre}"></h3>
                                                        <p th:text="${n.descripcion}"></p>
                                                       <i class="icon-user2"></i> <span th:text="${n.observacion}"></span> <br>

                                                    </div>
                                                </a>
                                            </div>
                                            <!-- END item -->
                                           
                                            <!-- END item -->
                                        </div>
                                    </div>
                                </div>




                                <!-- fin de noticias -->

                            </div>
                            <div id="upcoming-events" class="tab-pane fade">
                                <div  class="row">
                                    <div  class="col-md-12">.
                                        <div  class="owl-carousel" id="owl2">
                                            <div th:each="e: ${eventos}" class="item">
                                                <a th:href="@{EventosHome}" class="probootstrap-featured-news-box">
                                                    <figure class="probootstrap-media"><img th:src="@{'/uploadsE/' + ${e.foto}}"
                                                                                            th:alt="${e.foto}"  class="img-responsive"/></figure>
                                                    <div  class="probootstrap-text">
                                                        <h3 th:text="${e.nom}"></h3>
                                                        <p th:text="${e.descripcion}"></p>
                                                        <i class="icon-calendar2"></i> <span th:text="${e.fecha}"></span> <br>
                                                        <i class="icon-location2"></i> <span th:text="${e.lugar}"></span>
                                                    </div>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <p><a th:href="@{EventosHome}" class="btn btn-primary">Ver todo</a></p>  
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>

    </section>
    <section class=" probootstrap-bg-white probootstrap-border-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center  probootstrap-animate">
                    <h2>Nuestras Clases</h2>

                </div>
            </div>
            <!-- END row -->
            <div class="row">
                <div th:each="c: ${clases}" class="col-md-6">
                    <div  class="probootstrap-service-2 probootstrap-animate">
                        <div class="image">
                            <div class="image-bg">
                                <img th:src="@{'/uploadsC/' + ${c.foto}}"
                                     th:alt="${c.foto}">
                            </div>
                        </div>
                        <div  class="text">

                            <h3 th:text="${c.nom}"></h3>
                            <p th:text="${c.descrip}"></p>
                            <i class="icon-clock2"></i>  <span  th:text="${c.horario}"></span>
                            <p><a th:href="@{inscripcionClases}" class="btn btn-primary">Inscribirse ahora</a> </p>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</section>

<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
                <h2>Nuestros Profesores</h2>
                <p class="lead">Los profesores de CAFD juegan un rol importante en ayudar a los alumnos a obtener y mantener un estilo de vida saludable.</p>
            </div>
        </div>
        <!-- END row -->

        <div  class="row">
            <div th:each="m: ${maestros}" class="col-md-3 col-sm-6">
                <div  class="probootstrap-teacher text-center probootstrap-animate">
                    <figure class="media">
                        <img th:src="@{'/uploads/' + ${m.foto}}"
                             th:alt="${m.foto}" class="img-responsive">
                    </figure>
                    <div  class="text">
                        <h3 th:text="${m.ape} + ${m.nom}"></h3>
                        <p>Personal Trainer</p>
                        <ul class="probootstrap-footer-social">

                            <li class="facebook"><a href="https://web.facebook.com/CentroDeActividadFisicaDeportiva/"><i class="icon-facebook2"></i></a></li>
                            <li class="twitter"><a href="https://twitter.com/alejandro238209"><i class="icon-instagram2"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<section class="probootstrap-section probootstrap-bg probootstrap-section-colored probootstrap-testimonial" style="background-image: url(img/slider_4.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
                <h2>Testimonio de ex alumnos</h2>

            </div>
        </div>
        <!-- END row -->
        <div class="row">
            <div class="col-md-12 probootstrap-animate">
                <div class="owl-carousel owl-carousel-testimony owl-carousel-fullwidth">
                    <div class="item">

                        <div class="probootstrap-testimony-wrap text-center">
                            <figure>
                                <img src="img/person_1.jpg" alt="Free Bootstrap Template by uicookies.com">
                            </figure>
                            <blockquote class="quote">&ldquo;El seguimiento de los profesores es lo que mas me gusto de CAFD, siempre estaban cuando los necesitaba.&rdquo; <cite class="author"> &mdash; <span>Marcos Quintana</span></cite></blockquote>
                        </div>

                    </div>
                    <div class="item">
                        <div class="probootstrap-testimony-wrap text-center">
                            <figure>
                                <img src="img/person_2.jpg" alt="Free Bootstrap Template by uicookies.com">
                            </figure>
                            <blockquote class="quote">&ldquo;Me encantaban las clases de CAFD siempre bien arriba con toda la alegria.&rdquo; <cite class="author"> &mdash;<span>Natalia Gomez</span></cite></blockquote>
                        </div>
                    </div>
                    <div class="item">
                        <div class="probootstrap-testimony-wrap text-center">
                            <figure>
                                <img src="img/person_3.jpg" alt="Free Bootstrap Template by uicookies.com">
                            </figure>
                            <blockquote class="quote">&ldquo;Los profesores siempre se adaptan a tus horarios.&rdquo; <cite class="author">&mdash; <span>Gabriel Godoy</span></cite></blockquote>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- END row -->
    </div>
</section>

<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
                <h2>Porque elegir CAFD</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon"><i class="icon-checkmark"></i></div>
                    <div class="text">
                        <h3>Tecnicas Modernas</h3>
                        <p>...</p>
                    </div>  
                </div>
                <div class="service left-icon probootstrap-animate">
                    <div class="icon"><i class="icon-checkmark"></i></div>
                    <div class="text">
                        <h3>Alto impacto Regional</h3>
                        <p>...</p>
                    </div>
                </div>
                <div class="service left-icon probootstrap-animate">
                    <div class="icon"><i class="icon-checkmark"></i></div>
                    <div class="text">
                        <h3>Horarios Adaptados</h3>
                        <p>...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon"><i class="icon-checkmark"></i></div>
                    <div class="text">
                        <h3>Clases personales y en casa</h3>
                        <p>...</p>
                    </div>  
                </div>

                <div class="service left-icon probootstrap-animate">
                    <div class="icon"><i class="icon-checkmark"></i></div>
                    <div class="text">
                        <h3>Posibilidades de trabajo</h3>
                        <p>...</p>
                    </div>
                </div>

                <div class="service left-icon probootstrap-animate">
                    <div class="icon"><i class="icon-checkmark"></i></div>
                    <div class="text">
                        <h3>Seguimiento Personal</h3>
                        <p>...</p>
                    </div>
                </div>

            </div>
        </div>
        <!-- END row -->
    </div>
</section>


<footer class="probootstrap-footer probootstrap-bg">

    <div class="container">
        <div class="row">
            <div class="col-md-8 text-left">
                <p>Rediseñado y Desarrollado  por <a href="https://web.facebook.com/elbrun22">Bruno Conte</a></p>
            </div>
            <div class="col-md-4 probootstrap-back-to-top">
                <p><a href="#" class="js-backtotop">Volver arriba <i class="icon-arrow-long-up"></i></a></p>
            </div>
        </div>
    </div>


</footer>





<!-- END wrapper -->


<script src="js/scripts.min.js"></script>
<script src="js/main.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>